@import url(./normalize.css);
@import url(./reset.css);

body{
  background-color: #ffc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 200;
  margin: 10px;
}

.header{
  background-color: pink;
}

.visual{
  background-color: orange;
}

.main{
  background-color: lightgreen;
}


.slogan{
  background-color: lightblue;
}


.footer{
  background-color: rgb(206, 199, 199);
}







