@import url(./normalize.css);
@import url(./reset.css);

/* 기본값 */
*, *::before, *::after{
  box-sizing: border-box;
}

/* 바디 */
body{
  background-color: #ffc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 200;
  margin: 10px;
}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* 헤더 */
.header{
  background-color: pink;
  padding: 0 30px;
  height: 15vh;
}

/* 비주얼 */
.visual{
  background-color: orange;
  height: 10vh;
}

/* 메인 */
.main {
  background: lightgreen;
  height: 50vh;
  display: flow-root;
  padding: 0 15px;
}

.group {
  margin: 0 15px;
  float: left;
}

.group1 {
  background-color: violet;
  width: 250px;
}

.group2 {
  background-color: salmon;
  width: 300px;
}

.group3 {
  background-color: gold;
  width: 260px;
}


/* 슬로건 */
.slogan{
  background-color: lightblue;
  height: 10vh;
}

/* 푸터 */
.footer{
  background-color: rgb(206, 199, 199);
}

.footer-inner{
  height: 15vh;
}






